/* Reset y estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

/* Estilo para los botones */
.button {
    border-radius: .5rem;
    color: white;
    background-color: #ffc9d2;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s;
    margin: 10px 0; /* Aumentamos el espacio alrededor de los botones */
}

.button:hover {
    background-color: #ff80a0;
}

/* Alinear los botones a la izquierda (en su contenedor) */
.button-container {
    display: flex;
    flex-direction: column; /* Coloca los botones en columna */
    align-items: flex-start; /* Alinea los botones a la izquierda */
    gap: 20px; /* Aumentamos el espacio entre los botones */
    margin-bottom: 20px;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px; /* Un poco de espacio debajo de la tabla */
}

table td {
    border: 1px solid blueviolet;
    text-align: center;
    padding: 1.3rem;
}
